// Color variables

$primary-color: rgb(0, 104, 189);
$secondary-color:rgb(0, 189, 94);
$success-color:rgb(2, 144, 252);
$info-color:rgb(64, 84, 99);
$warning-color:rgb(250, 94, 3);
$danger-color:rgb(189, 0, 0);
$light-color:rgb(69, 145, 204);
$dark-color:rgb(2, 65, 114);