// Font Loading & variables

// Import fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,700i,900|Raleway:300,400,900|Ubuntu+Mono:400,700');

$primary_font: 'Raleway', sans-serif;
$secondary_font: 'Merriweather', serif;
$fixed_font: 'Ubuntu Mono', monospace;

